body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

#nav-btns {
  padding: 10px;
  text-align: center;
  margin: 4px;
  border-radius: 0.5rem;
  border-color: goldenrod;
  background-color: rgb(99, 14, 118);
  color: goldenrod;
  font-weight: bold;
  font-size: 16px;
}

#padding {
  padding: 10px;
}

#spotlight-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#spotlight {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}